*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}


 body {
    display: flex;
      background : url(gauze-01.png);
      background-position: center;
      background-size: 210vh 200vh;
      background-repeat: no-repeat;
 }
.con{
  height: 100vh;
  width: 300vh;
  
}
 .logo{
  display: flex;
  position: absolute;
  left: 40%;
  height: 300px;
  width: 300px;
 }

 h3{
  display: flex;
  justify-content: center;
  position: relative;
  top: 40%;
  color: aliceblue;
  font-size: 20px;
 }

 .gain{
  position: absolute;
  height: 200px;
  width: 200px;
  font-size: 80px;
  color: white;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  bottom: 10%;
  left: 30%;
 }

 .loss{
  position: absolute;
  height: 200px;
  width: 200px;
  font-size: 80px;
  color: white;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  bottom: 10%;
  right: 30%;

 }
 a{
  color: white;
 }

 .g{
  position: absolute;
  color: white;
  bottom: 05% ;
  left: 34%;
 }

 .l{
  position: absolute;
  color: white;
  bottom: 05% ;
  right:  34%;
 }

 .bar-code{
  position:absolute;
  right:4%;
  top: 3%;
  font-size: 40px;
  height: 60px;
  width: 60px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  
 }

 .info{

  position:absolute;
  right:10%;
  top: 3%;
  font-size: 40px;
  height: 60px;
  width: 60px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  
 }
button{
  transition: 0.5s;
}
 button:hover{
  
    box-shadow: 0 0 20px rgba(106, 90, 205, 1), 
                0 0 30px rgba(106, 90, 205, 1),
                0 0 40px rgba(106, 90, 205, 1);
}
 
.bar-code:hover,.info:hover{
  
  box-shadow: none;
  
}


@media(max-width:480px){

.logo{
 display: flex;
 position: absolute;
 left: 30%;
 height: 200px;
 width: 200px;
}

.gain{
  position: absolute;
  height: 150px;
  width: 150px;
  font-size: 60px;
  color: white;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  bottom: 10%;
  left: 15%;
 }

 .loss{
  position: absolute;
  height: 150px;
  width: 150px;
  font-size: 60px;
  color: white;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  bottom: 10%;
  right: 15%;

 }

 .g{
  position: absolute;
  color: white;
  bottom: 05% ;
  left: 22%;
 }

 .l{
  position: absolute;
  color: white;
  bottom: 05% ;
  right:  22%;
 }

 .info{
  position:absolute;
  right:17%;
  top: 3%;
  font-size: 20px;
  height: 45px;
  width: 45px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  
 }

 .bar-code{
  position:absolute;
  right:4%;
  top: 3%;
  font-size: 20px;
  height: 45px;
  width: 45px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  
 }
}